body{
    background-color:darkgrey;
    margin:auto;

    

}
.style{
    background-color:white;
    margin-left:1000;
    margin-bottom:1px;

    width:430px;
    height:350px;
}
.style1{
    padding-left:230px;
    padding-top:150px;
    
    

}


